.blog-post-overlay{
    background-color:rgba(234, 230, 230, 0.43);
    padding: 20px;
    box-shadow: 5px 3px 3px rgba(142, 141, 141, 0.91);
    border-radius: 10px;
}
#content{
    overflow: hidden;
    height: 3.6em;
    line-height: 1.2em;
}
#text{
display:none;
}

.blog-post-container{
    margin: 20px;
}
.blog-post{
    font-weight: 100;
    line-height: 25px;
}
tr{
    column-width: 100px;
}
td{
    line-height: 10px;
    align-content: 
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #e5e4e4;}

/*#customers tr:hover {background-color: #ddd;}*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}
caption{
    font-size: 12px;
    background-color: #f4be59;
}
td{
    font-size: 12px;
}